.blog-img {
	font-weight: 700;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-size: cover;
}

.post-title {
	text-align: center;
}

.post-title h1 {
	font-size: 40px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
}
.post-title p {
	font-size: 20px;
	margin-bottom: -2rem;
}
.post-title h1,
.blog-img p {
	color: transparent;
	background: url("https://res.cloudinary.com/lawfirm1000/image/upload/v1593830556/sky-blue_bre9n2.jpg");
	background-clip: text;
	-webkit-animation-name: moving-background;
	animation-name: moving-background;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

/* background image animation */
@-webkit-keyframes moving-background {
	0% {
		background-position: left center;
	}
	100% {
		background-position: right center;
	}
}

@keyframes moving-background {
	0% {
		background-position: left center;
	}
	100% {
		background-position: right center;
	}
}

.post-title h1::before,
.post-title h1::after {
	content: "";
	width: 50px;
	height: 2px;
	background: rgb(1, 120, 255);
	display: inline-block;
}

.post-title h1::before {
	margin: 0 15px 10px 0;
}

.post-title h1::after {
	margin: 0 0 10px 15px;
}

.testimonials {
	position: relative;
	top: 3rem;
}

@media (max-width: 768px) {
	.blog-img {
		height: 30vh;
	}
}
