@media (min-width: 768px) {
	.img {
		position: relative;
		width: 80%;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 10%;
		top: -30vh;
	}
	#confessions h1,
	#confessions p {
		position: relative;
		top: -30vh;
	}
}
