@font-face {
	font-family: "MuseoW01-700";
	src: url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.eot");
	src: url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.eot?#iefix")
			format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.woff2")
			format("woff2"),
		url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.woff")
			format("woff"),
		url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.ttf")
			format("truetype"),
		url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.svg#MuseoW01-700")
			format("svg");
}

* {
	overflow-x: hidden;
	font-family: MuseoW01-700;
	&::-webkit-scrollbar {
		display: none;
	}
}

.nav-bar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	padding: 20px 0;
}

.hamburger-menu {
	position: absolute;
	left: 10px;
	top: 20px;
	width: 24px;
	height: 22px;
	margin: 10px 5px;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	z-index: 99;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #19559e;
		border-radius: 10px;
		opacity: 1;
		left: 0;
		transition: 0.25s ease-in-out;
	}

	span:nth-child(1) {
		top: 2px;
	}

	span:nth-child(2),
	span:nth-child(3) {
		top: 10px;
	}

	span:nth-child(4) {
		top: 18px;
	}

	&.open span:nth-child(1) {
		top: 18px;
		width: 0;
		left: 50%;
	}

	&.open span:nth-child(2) {
		transform: rotate(45deg);
	}

	&.open span:nth-child(3) {
		transform: rotate(-45deg);
	}

	&.open span:nth-child(4) {
		top: 18px;
		width: 0;
		left: 50%;
	}
}
.site-navigation ul {
	position: fixed;
	top: 0;
	left: -320px;
	z-index: 9;
	width: 320px;
	max-width: calc(100% - 120px);
	height: max-content;
	padding: 30px 15px;
	margin: 0;
	background: rgba(255, 255, 255, 0.6);
	list-style: none;
	overflow-x: scroll;
	transition: all 0.35s;
}

.site-navigation.show ul {
	left: 0;
}

.site-navigation ul li {
	margin: 0 15px;
}

.site-navigation ul li a {
	display: block;
	padding: 16px 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #19559e;
	text-decoration: none;
	transition: color 0.35s;
}

.header {
	li {
		a {
			color: #19559e;
			&.active {
				color: #8c2110;
				&:hover {
					color: #8c2110;
				}
			}
			&:hover {
				text-decoration: none;
				color: #b86e69;
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.site-navigation ul {
		position: absolute;
		top: auto;
		left: 0;
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 0 5px;
		padding: 0;
		background: transparent;
	}
	.home .site-navigation ul li a,
	.church .site-navigation ul li a,
	.reception .site-navigation ul li a {
		color: #fff !important;
		font-weight: 700;
		&.active {
			color: #8c2110 !important;
		}
		&:hover {
			color: #b86e69 !important;
		}
	}
	.site-navigation ul li a {
		width: 100%;
		padding: 20px 0;
		color: #19559e;
	}
}

.site-navigation ul li a:hover {
	color: #b86e69;
}

.home,
.church,
.reception {
	.hamburger-menu span {
		background: #fff;
	}
	.cont {
		height: 85vh;
		background: url("images/home.webp") center / cover no-repeat;
	}
	.hero {
		margin-top: 70px;
		h1 {
			text-shadow: 0 0 5px #fff;
			color: #8c2110;
			font-size: 80px;
			margin-left: 20px;
			span {
				color: #19559e;
			}
		}
		h3 {
			color: #8c2110;
			background: transparent;
			margin-left: 35px;
			z-index: 9;
		}
		svg {
			margin-top: -45px;
			margin-left: 25px;
			width: 32ch;
			stroke-width: 0;
			fill-opacity: 0.7;
			stroke: rgb(75, 135, 207);
			stroke-opacity: 0.7;
			fill: rgb(75, 135, 207);
		}
	}
}

@media screen and (max-width: 560px) {
	.home .hero h1 {
		font-size: 52px;
	}
}

.footer {
	box-shadow: 0 0 5px 0 #000;
	p {
		margin-top: 20px;
		svg {
			width: 30px;
			height: 30px;
			margin: -5px 10px 0 10px;
		}
	}
}

/*****************
	STORY
******************/
.story {
	h1 {
		text-shadow: 0 0 5px #fff;
		margin-top: 40px;
		font-family: Lobster;
		font-weight: bolder;
		font-size: 180px;
		color: #8c2110;
		overflow: hidden;

		span {
			font-family: Lobster;
			font-weight: lighter;
			color: #19559e;
			font-size: 80px;
		}
		&.title-story {
			margin-top: -165px;
			margin-left: 130px;
		}
	}
	.tinu,
	.timi {
		p {
			font-family: "Josefin Slab";
			font-weight: 400;
			font-size: 16px;
			color: #8c2110;
		}
		h3 {
			text-align: end;
			color: #19559e;
		}
	}
	.timi {
		p {
			color: #01244e;
		}
		h3 {
			color: #8c2110;
		}
	}
	.carousel {
		margin: 20px 0;
	}
	.carousel-fade {
		.carousel-inner {
			.item {
				transition-property: opacity;
			}

			.item,
			.active.left,
			.active.right {
				opacity: 0;
			}

			.active,
			a .next.left,
			.prev.right {
				opacity: 1;
			}

			.next,
			.prev,
			.active.left,
			.active.right {
				left: 0;
				transform: translate3d(0, 0, 0);
			}
			img {
				border-radius: 50%;
				width: 100px;
				height: 350px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.story {
		h1 {
			font-size: 100px;
			span {
				font-size: 45px;
			}
			&.title-story {
				margin-top: -95px;
				margin-left: 85px;
			}
		}
	}
}

.church {
	.cont {
		height: 95vh;
		background: url("images/8.webp") top / cover no-repeat;
	}
	.hero {
		h1 {
			font-family: "Montserrat";
			color: #8c2110;
			font-size: 80px;
			margin-left: 20px;
			text-shadow: 0 0 5px #fff;
			span {
				font-family: "Montserrat";
				color: #fff;
			}
		}
	}
	.church-details {
		background: #19559e86;
		color: #fff;
		border-radius: 50px;
		width: 450px;
		box-shadow: 0 0 15px 0 #000;
		padding: 30px 10px;
		margin-top: 50px;
		h3 {
			color: #fff;
			font-family: "Montserrat";
			span,
			strong {
				color: #8c2110;
				text-shadow: 0 0 15px #fff;
			}
			.city {
				color: #8c2110;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.church .hero h1 {
		font-size: 50px;
	}
	.church .church-details {
		width: 350px;
	}
}

/*****************
	RECEPTION
******************/
.reception {
	.cont {
		background: url("images/home.webp") center / cover no-repeat;
	}
	.hero {
		h1 {
			font-family: Lobster;
			color: #fff;
			font-size: 80px;
			margin-left: 20px;
			span {
				font-family: Lobster;
				color: #8c2110;
			}
		}
		.reception-details h3 {
			font-family: Lobster;
			color: #8c2110;
			strong {
				font-family: Lobster;
				color: #fff;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.reception .cont {
		height: max-content;
		padding-bottom: 20px;
	}
}

.gifts {
	.gift-details {
		width: 70%;
		margin: 60px auto;
		h1 {
			color: #8c2110;
			font-size: 80px;
			font-family: Lobster;
		}
		p,
		a {
			font-family: Lobster;
			color: #002e5d;
			margin: 20px 0;
			font-size: 30px;
			font-family: "Cookie";
		}
		a {
			text-decoration: underline;
			color: #8c2110;
		}
	}
	svg {
		width: 100px;
		stroke-width: 0;
		fill-opacity: 1;
		stroke: rgb(253, 202, 34);
		stroke-opacity: 1;
		fill: rgb(253, 202, 34);
	}
}

/************
	PHOTOS
************/

.gallery {
	height: 80vh;
	margin-top: 40px;

	.carousel {
		justify-content: center;
		align-items: center;
		height: 100%;
	}
	.carousel-item {
		img {
			height: 100%;
			border-radius: 50%;
		}
	}

	@media (min-width: 768px) and (max-width: 991px) {
		/* Show 4th slide on md if col-md-4*/
		.carousel-inner
			.active.col-md-4.carousel-item
			+ .carousel-item
			+ .carousel-item
			+ .carousel-item {
			position: absolute;
			top: 0;
			right: -33.3333%; /*change this with javascript in the future*/
			z-index: -1;
			display: block;
			visibility: visible;
		}
	}
	@media (min-width: 576px) and (max-width: 768px) {
		/* Show 3rd slide on sm if col-sm-6*/
		.carousel-inner
			.active.col-sm-6.carousel-item
			+ .carousel-item
			+ .carousel-item {
			position: absolute;
			top: 0;
			right: -50%; /*change this with javascript in the future*/
			z-index: -1;
			display: block;
			visibility: visible;
		}
	}
	@media (min-width: 576px) {
		.carousel-item {
			margin-right: 0;
		}
		/* show 2 items */
		.carousel-inner .active + .carousel-item {
			display: block;
		}
		.carousel-inner
			.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
		.carousel-inner
			.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
			+ .carousel-item {
			transition: none;
		}
		.carousel-inner .carousel-item-next {
			position: relative;
			transform: translate3d(0, 0, 0);
		}
		/* left or forward direction */
		.active.carousel-item-left + .carousel-item-next.carousel-item-left,
		.carousel-item-next.carousel-item-left + .carousel-item,
		.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
			position: relative;
			transform: translate3d(-100%, 0, 0);
			visibility: visible;
		}
		/* farthest right hidden item must be also positioned for animations */
		.carousel-inner .carousel-item-prev.carousel-item-right {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			display: block;
			visibility: visible;
		}
		/* right or prev direction */
		.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
		.carousel-item-prev.carousel-item-right + .carousel-item,
		.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
			position: relative;
			transform: translate3d(100%, 0, 0);
			visibility: visible;
			display: block;
			visibility: visible;
		}
	}
	/* MD */
	@media (min-width: 768px) {
		/* show 3rd of 3 item slide */
		.carousel-inner .active + .carousel-item + .carousel-item {
			display: block;
		}
		.carousel-inner
			.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
			+ .carousel-item
			+ .carousel-item {
			transition: none;
		}
		.carousel-inner .carousel-item-next {
			position: relative;
			transform: translate3d(0, 0, 0);
		}
		/* left or forward direction */
		.carousel-item-next.carousel-item-left
			+ .carousel-item
			+ .carousel-item
			+ .carousel-item {
			position: relative;
			transform: translate3d(-100%, 0, 0);
			visibility: visible;
		}
		/* right or prev direction */
		.carousel-item-prev.carousel-item-right
			+ .carousel-item
			+ .carousel-item
			+ .carousel-item {
			position: relative;
			transform: translate3d(100%, 0, 0);
			visibility: visible;
			display: block;
			visibility: visible;
		}
	}
	/* LG */
	@media (min-width: 991px) {
		/* show 4th item */
		.carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
			display: block;
		}
		.carousel-inner
			.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
			+ .carousel-item
			+ .carousel-item
			+ .carousel-item {
			transition: none;
		}
		/* Show 5th slide on lg if col-lg-3 */
		.carousel-inner
			.active.col-lg-3.carousel-item
			+ .carousel-item
			+ .carousel-item
			+ .carousel-item
			+ .carousel-item {
			position: absolute;
			top: 0;
			right: -25%; /*change this with javascript in the future*/
			z-index: -1;
			display: block;
			visibility: visible;
		}
		/* left or forward direction */
		.carousel-item-next.carousel-item-left
			+ .carousel-item
			+ .carousel-item
			+ .carousel-item
			+ .carousel-item {
			position: relative;
			transform: translate3d(-100%, 0, 0);
			visibility: visible;
		}
		/* right or prev direction //t - previous slide direction last item animation fix */
		.carousel-item-prev.carousel-item-right
			+ .carousel-item
			+ .carousel-item
			+ .carousel-item
			+ .carousel-item {
			position: relative;
			transform: translate3d(100%, 0, 0);
			visibility: visible;
			display: block;
			visibility: visible;
		}
	}
}
