body {
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
	color: var(--black-color);
	transition: all 3s ease;
	background-color: var(--white-color);
	--white-color: #fff;
	--black-color: #555555;
	--blue-color: #3498db;
	--blue-hover-color: #5faee3;
	--off-white: #d2e7f5;
	--white-transparent-bg: rgba(255, 255, 255, 0.7);
	--black-transparent-bg: rgba(0, 0, 0, 0.6);
	--watermark-bg: url("https://res.cloudinary.com/lawfirm1000/image/upload/v1593830557/SCM-logo_es9ddq.png")
		center no-repeat;
}

.darkTheme {
	--white-color: #243447;
	--black-color: #fff;
	--blue-color: #3498db;
	--blue-hover-color: #0066f6;
	--white-transparent-bg: rgba(0, 0, 0, 0.6);
	--black-transparent-bg: rgba(255, 255, 255, 0.7);
	--watermark-bg: url("https://res.cloudinary.com/lawfirm1000/image/upload/v1593830557/SCM-logo-new_xhrtm4.png")
		center no-repeat;
}

a {
	color: var(--blue-color);
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
	position: fixed;
	display: none;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
}

.back-to-top i {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	background: var(--blue-color);
	color: var(--white-color);
	transition: all 0.4s;
}

.back-to-top i:hover {
	background: var(--blue-hover-color);
	color: var(--white-color);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
	top: 0;
	height: 80px;
	z-index: 997;
	transition: all 0.5s;
	background: var(--white-color);
}

#header.header-scrolled {
	box-shadow: var(--white-transparent-bg);
	height: 60px;
	background: var(--white-color);
}

#header .logo pn {
	font-size: 32px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
}
#header h1 span {
	color: var(--blue-color);
}

#header .logo pn a,
#header .logo pn a:hover {
	color: var(--black-color);
	text-decoration: none;
}

#header .logo png {
	padding: 0;
	margin: 0;
	max-height: 40px;
}

@media (max-width: 768px) {
	#header {
		box-shadow: 0px 2px 15px var(--black-transparent-bg);
		height: 60px;
		background: var(--white-color);
	}
	#header .logo pn {
		font-size: 28px;
	}
}

#header .progress-container {
	position: absolute;
	top: 60px;
	width: 100%;
	height: 4px;
	background: #ccc;
}

#header .progress-bar {
	height: 4px;
	background: var(--blue-color);
	width: 0%;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu,
.nav-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav-menu > ul > li,
.nav-menu .custom-switch {
	position: relative;
	white-space: nowrap;
	float: left;
}

.nav-menu a {
	display: block;
	position: relative;
	color: var(--black-color);
	padding: 8px 0 12px 25px;
	transition: 0.3s;
	font-size: 14px;
	font-family: "Open Sans", sans-serif;
}
.nav-menu .custom-switch {
	display: block;
	position: relative;
	padding: 6.8px 0 12px 50px;
	font-size: 14px;
}
.nav-menu a:hover,
.nav-menu .custom-switch label:hover,
.nav-menu .active > a,
.nav-menu li:hover > a {
	color: var(--blue-color);
	text-decoration: none;
}
.nav-menu .active {
	color: var(--blue-color);
}

.nav-menu .get-started a {
	background: var(--blue-color);
	color: var(--white-color);
	border-radius: 50px;
	margin: 0 0 0 30px;
	padding: 10px 25px;
}

.nav-menu .get-started a:hover {
	background: var(--blue-hover-color);
	color: var(--black-color);
}

.nav-menu .drop-down ul {
	display: block;
	position: absolute;
	left: 25px;
	top: calc(100% + 30px);
	z-index: 99;
	opacity: 0;
	visibility: hidden;
	padding: 10px 0;
	background: var(--white-color);
	box-shadow: var(--black-transparent-bg);
	transition: ease all 0.3s;
	border-radius: 5px;
}

.nav-menu .drop-down:hover > ul {
	opacity: 1;
	top: 100%;
	visibility: visible;
}

.nav-menu .drop-down li {
	min-width: 180px;
	position: relative;
}

.nav-menu .drop-down ul a,
.nav-menu .drop-down ul .custom-switch {
	padding: 10px 20px;
	font-size: 14px;
	text-transform: none;
	color: var(--black-color);
}

.nav-menu .drop-down ul a:hover,
.nav-menu .drop-down ul .active > a,
.nav-menu .drop-down ul li:hover > a {
	color: var(--blue-color);
}

.nav-menu .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
	top: 0;
	left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
	opacity: 1;
	top: 0;
	left: 100%;
}

.nav-menu .drop-down .drop-down > a {
	padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
	content: "\eaa0";
	font-family: IcoFont;
	position: absolute;
	right: 15px;
}

@media (max-width: 1366px) {
	.nav-menu .drop-down .drop-down ul {
		left: -90%;
	}
	.nav-menu .drop-down .drop-down:hover > ul {
		left: -100%;
	}
	.nav-menu .drop-down .drop-down > a:after {
		content: "\ea9d";
	}
}
@media (min-width: 768px) and (max-width: 1100px) {
	.nav-menu > ul > li,
	.nav-menu .custom-switch {
		position: relative;
		white-space: nowrap;
		left: -10px;
	}
	#header {
		height: 60px;
	}
	#header .logo h1 img {
		display: flex;
	}
	.nav-menu a {
		display: block;
		position: relative;
		color: var(--black-color);
		padding: 8px 0 12px 7px;
		transition: 0.3s;
		font-size: 12px;
		font-family: "Open Sans", sans-serif;
	}
	.nav-menu .custom-switch {
		display: block;
		position: relative;
		padding: 6.8px 0 12px 15px;
		font-size: 12px;
	}
	.nav-menu .custom-control-label::before,
	.nav-menu .custom-control-label::after {
		display: none;
	}

	.nav-menu .get-started a {
		background: var(--blue-color);
		color: var(--white-color);
		border-radius: 50px;
		margin: 0 0 0 10px;
		padding: 7px 15px;
	}
}

/* Mobile Navigation */
.mobile-nav-toggle {
	position: fixed;
	right: 15px;
	top: 15px;
	z-index: 9998;
	border: 0;
	background: none;
	font-size: 24px;
	transition: all 4s;
	outline: none !important;
	line-height: 1;
	cursor: pointer;
	text-align: right;
}

.mobile-nav-toggle i {
	color: var(--black-color);
}

.mobile-nav {
	position: fixed;
	top: 55px;
	right: 15px;
	bottom: 15px;
	left: 15px;
	z-index: 9999;
	overflow-y: auto;
	background: var(--white-transparent-bg);
	transition: ease-in-out 0.2s;
	opacity: 0;
	visibility: hidden;
	border-radius: 10px;
	padding: 10px 0;
	height: 60vh;
}

.mobile-nav * {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav a {
	display: block;
	position: relative;
	color: var(--black-color);
	padding: 10px 20px;
	font-weight: 500;
	outline: none;
}
.mobile-nav .custom-switch {
	display: block;
	position: relative;
	white-space: nowrap;
	padding: 10px 20px;
	font-weight: 500;
}
.mobile-nav .custom-switch label::before,
.mobile-nav .custom-switch label::after {
	display: none;
}
.mobile-nav .custom-switch:hover,
.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
	color: var(--blue-color);
	text-decoration: none;
}

.mobile-nav .get-started {
	text-align: center;
	margin-top: 10px;
}

.mobile-nav .get-started a {
	background: var(--blue-color);
	color: var(--white-color);
	border-radius: 50px;
	margin: 0 15px;
	padding: 10px 30px;
	display: inline-block;
}

.mobile-nav .get-started a:hover {
	background: var(--blue-hover-color);
	color: var(--white-color);
}

.mobile-nav .drop-down > a:after {
	content: "\ea99";
	font-family: IcoFont;
	padding-left: 10px;
	position: absolute;
	right: 15px;
}

.mobile-nav .active.drop-down > a:after {
	content: "\eaa1";
}

.mobile-nav .drop-down > a {
	padding-right: 35px;
}

.mobile-nav .drop-down ul {
	display: none;
	overflow: hidden;
}

.mobile-nav .drop-down li {
	padding-left: 20px;
}

.mobile-nav-overly {
	width: 100%;
	height: 100%;
	z-index: 9997;
	top: 0;
	left: 0;
	position: fixed;
	background: var(--white-transparent-bg);
	overflow: hidden;
	display: none;
	transition: ease-in-out 0.2s;
}

.mobile-nav-active {
	overflow: hidden;
}

.mobile-nav-active .mobile-nav {
	opacity: 1;
	visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
	color: var(--black-color);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
	width: 100%;
	height: 100vh;
	margin-top: 50px;
	background-color: var(--white-color);
}

#hero .container .hero-img {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: var(--white-color);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}

#hero h1 {
	position: relative;
	margin: 10rem 0 10px 0;
	font-size: 48px;
	font-weight: 700;
	line-height: 56px;
	color: transparent;
}

#header .logo h1 {
	font-size: 32px;
	margin: 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
}
#header h1 span {
	color: var(--blue-color);
}

#header .logo h1 a,
#header .logo h1 a:hover {
	color: var(--black-color);
	text-decoration: none;
}

#header .logo img {
	padding: 0;
	margin: 0;
	max-height: 40px;
}

#hero h1 span {
	font-size: 65px;
}

#hero h1,
#hero h2 {
	margin-left: 1rem;
	background: url("https://res.cloudinary.com/lawfirm1000/image/upload/v1593830556/sky-blue_bre9n2.jpg");
	background-clip: text;
	-webkit-animation-name: moving-background;
	animation-name: moving-background;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

/* background image animation */
@-webkit-keyframes moving-background {
	0% {
		background-position: left center;
	}
	100% {
		background-position: right center;
	}
}

@keyframes moving-background {
	0% {
		background-position: left center;
	}
	100% {
		background-position: right center;
	}
}

#hero h2 {
	color: transparent;
	margin-bottom: 50px;
	font-size: 24px;
}

#hero .btn-get-started {
	margin-left: 1rem;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 50px;
	transition: 0.5s;
	color: var(--blue-color);
	border: 2px solid var(--blue-color);
}

#hero .btn-get-started:hover {
	background: var(--blue-color);
	color: var(--white-color);
	margin: 1.5rem;
	text-decoration: none;
}

#hero .animated {
	animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 768px) {
	#hero {
		margin-top: 20px;
	}
	#hero h1 span {
		font-size: 50px;
	}
	#hero h1 {
		margin-left: 1rem;
		font-size: 28px;
		line-height: 36px;
	}
	#hero h2 {
		margin-left: 1rem;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	#hero .hero-img {
		width: 70%;
	}
}
@media (min-width: 768px) and (max-width: 1100px) {
	#hero {
		height: 50vh;
	}
	#hero .hero-img {
		height: 40vh;
	}
}

@media (max-width: 575px) {
	#hero .hero-img {
		width: 80%;
	}
}
@media (max-width: 575px) {
	#hero .hero-img {
		height: 50vh;
	}
}

@-webkit-keyframes up-down {
	0% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(-10px);
	}
}

@keyframes up-down {
	0% {
		transform: translateY(15px);
	}
	100% {
		transform: translateY(-10px);
	}
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
	padding: 60px 0;
	overflow: hidden;
}

.section-bg {
	background: var(--watermark-bg);
	position: fixed;
	height: 60vh;
	width: 60vw;
	margin: 20vh 20vw;
	z-index: -1;
}
@media (max-width: 730px) {
	.section-bg {
		width: 100%;
		left: -11vh;
	}
}

.section-title {
	text-align: center;
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 32px;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	color: var(--black-color);
}

.section-title h2::before,
.section-title h2::after {
	content: "";
	width: 50px;
	height: 2px;
	background: var(--blue-color);
	display: inline-block;
}

.section-title h2::before {
	margin: 0 15px 10px 0;
}

.section-title h2::after {
	margin: 0 0 10px 15px;
}

.section-title p {
	margin: 15px 0 0 0;
}
@media (max-width: 768px) {
	.section-title h2::before,
	.section-title h2::after {
		width: 20px;
	}
	.section-title h2 {
		font-size: 25px;
	}
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/

.clients {
	padding: 10px 0;
	text-align: center;
}

.clients .col-lg-2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

.clients img {
	width: 50%;
	-webkit-filter: grayscale(100);
	filter: grayscale(100);
	transition: all 0.4s ease-in-out;
	display: inline-block;
	padding: 10px 0;
}

.clients img:hover {
	-webkit-filter: none;
	filter: none;
	transform: scale(1.2);
}

@media (max-width: 768px) {
	.clients img {
		width: 40%;
	}
}

@media (max-width: 575px) {
	.clients img {
		width: 50%;
	}
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
	font-weight: 600;
	font-size: 26px;
}

.about .content ul {
	list-style: none;
	padding: 0;
}

.about .content ul li {
	padding-left: 28px;
	position: relative;
}

.about .content ul li + li {
	margin-top: 10px;
}

.about .content ul i {
	position: absolute;
	left: 0;
	top: 2px;
	font-size: 20px;
	color: var(--blue-color);
	line-height: 1;
}

.about .content p:last-child {
	margin-bottom: 0;
}

.about .content .btn-learn-more {
	font-family: "Raleway", sans-serif;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 12px 32px;
	border-radius: 50px;
	transition: 0.3s;
	line-height: 1;
	color: var(--blue-color);
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
	margin: 6px;
	border: 2px solid var(--blue-color);
}

.about .content .btn-learn-more:hover {
	background: var(--blue-color);
	color: var(--white-color);
	margin: 9px;
	text-decoration: none;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
	padding-top: 0;
}

.counts .content {
	padding: 0;
}

.counts .content h3 {
	font-weight: 700;
	font-size: 34px;
	color: var(--black-color);
}

.counts .content p {
	margin-bottom: 0;
}

.counts .content .count-box {
	padding: 20px 0;
	width: 100%;
}

.counts .content .count-box i {
	display: block;
	font-size: 36px;
	color: var(--blue-color);
	float: left;
}

.counts .content .count-box span {
	font-size: 36px;
	line-height: 30px;
	display: block;
	font-weight: 700;
	color: var(--black-color);
	margin-left: 50px;
}

.counts .content .count-box .students::after,
.counts .content .count-box .people::after {
	content: "+";
}

.counts .content .count-box p {
	padding: 15px 0 0 0;
	margin: 0 0 0 50px;
	font-family: "Raleway", sans-serif;
	font-size: 14px;
	color: var(--black-color);
}

.counts .content .count-box a {
	font-weight: 600;
	display: block;
	margin-top: 20px;
	color: var(--black-color);
	font-size: 15px;
	font-family: "Poppins", sans-serif;
	transition: ease-in-out 0.3s;
}

.counts .image {
	text-align: center;
}
.counts .image img {
	width: 20vw;
}

.counts .image .darkTheme {
	filter: invert(100%);
}

@media (max-width: 1024px) {
	.counts .image {
		text-align: center;
	}
	.counts .image img {
		max-width: 70%;
		width: 40vw;
	}
}

@media (max-width: 667px) {
	.counts .image img {
		max-width: 100%;
		width: 40vw;
	}
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
	padding: 30px;
	position: relative;
	overflow: hidden;
	background: var(--white-color);
	box-shadow: 0 0 29px 0 var(--black-transparent-bg);
	transition: all 0.3s ease-in-out;
	border-radius: 8px;
	margin-bottom: 1.5rem;
	z-index: 1;
}

.services .icon-box::before {
	content: "";
	position: absolute;
	background: var(--white-color);
	right: -60px;
	top: -40px;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	transition: all 0.3s;
	z-index: -1;
}

.services .icon-box:hover::before {
	background: var(--blue-color);
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 0px;
}

.services .icon {
	margin: 0 auto 20px auto;
	padding-top: 10px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	background: var(--blue-color);
	transition: all 0.3s ease-in-out;
}

.services .icon i {
	font-size: 36px;
	line-height: 1;
	color: var(--white-color);
}

.services .title {
	font-weight: 700;
	margin-bottom: 15px;
	font-size: 18px;
}

.services .title a {
	color: var(--black-color);
}

.services .description {
	font-size: 15px;
	line-height: 28px;
	margin-bottom: 0;
}

.services .icon-box:hover .title a,
.services .icon-box:hover .description {
	color: var(--white-color);
}

.services .icon-box:hover .icon {
	background: var(--white-color);
}

.services .icon-box:hover .icon i {
	color: var(--blue-color);
}

#services .container .see-more {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
}

/*--------------------------------------------------------------
# Blog Posts
--------------------------------------------------------------*/
.blog-posts {
	padding-top: 20px;
}

.blog-posts h1 {
	font-size: 32px;
	margin: 3rem;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--blue-color);
}
.blog-posts .card {
	border: 0;
	padding: 160px 20px 20px 20px;
	position: relative;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.blog-posts .card-body {
	z-index: 10;
	background: var(--white-transparent-bg);
	padding: 15px 30px;
	box-shadow: 0px 2px 15px var(--black-transparent-bg);
	transition: 0.3s;
	transition: ease-in-out 0.4s;
	border-radius: 5px;
}

.blog-posts .card-title {
	font-weight: 700;
	text-align: center;
	margin-bottom: 15px;
}

.blog-posts .card-title a {
	color: var(--black-color);
}

.blog-posts .card-text {
	color: var(--black-color);
}

.blog-posts .read-more a {
	color: var(--black-color);
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	transition: 0.4s;
}

.blog-posts .read-more a:hover {
	text-decoration: underline;
}

.blog-posts .card:hover .card-body {
	background: var(--blue-color);
}

.blog-posts .card:hover .read-more a,
.blog-posts .card:hover .card-title,
.blog-posts .card:hover .card-title a,
.blog-posts .card:hover .card-text {
	color: var(--white-color);
}
.blog-posts .container .see-more {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}
.blog-posts .container .see-more a {
	color: var(--white-color);
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-wrap {
	padding-left: 50px;
}

.testimonials .testimonial-item {
	box-sizing: content-box;
	padding: 30px 30px 30px 60px;
	margin: 30px 15px;
	min-height: 200px;
	box-shadow: 0px 2px 12px var(--black-transparent-bg);
	position: relative;
	background: var(--white-color);
}

.testimonials .testimonial-item .testimonial-img {
	width: 90px;
	border-radius: 10px;
	border: 6px solid var(--off-white);
	position: absolute;
	left: -45px;
}

.testimonials .testimonial-item h3 {
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 5px 0;
	color: var(--black-color);
}

.testimonials .testimonial-item h4 {
	font-size: 14px;
	color: var(--off-white);
	margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
	color: var(--off-white);
	font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
	display: inline-block;
	left: -5px;
	position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
	display: inline-block;
	right: -5px;
	position: relative;
	top: 10px;
}

.testimonials .testimonial-item p {
	font-style: italic;
	margin: 15px auto 15px auto;
}

.testimonials .owl-nav,
.testimonials .owl-dots {
	margin-top: 5px;
	text-align: center;
}

.testimonials .owl-dot {
	display: inline-block;
	margin: 0 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #ddd !important;
}

.testimonials .owl-dot.active {
	background-color: var(--blue-color) !important;
}

.testimonials .container .see-more {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}
.testimonials .container .see-more a {
	color: var(--white-color);
}

@media (max-width: 767px) {
	.testimonials .testimonial-wrap {
		padding-left: 0;
	}
	.testimonials .testimonial-item {
		padding: 30px;
		margin: 15px;
	}
	.testimonials .testimonial-item .testimonial-img {
		position: static;
		left: auto;
	}
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
	margin-bottom: 30px;
}

.portfolio #portfolio-flters {
	padding: 0;
	margin: 0 auto 20px auto;
	list-style: none;
	text-align: center;
}

.portfolio #portfolio-flters li {
	cursor: pointer;
	display: inline-block;
	padding: 8px 15px 10px 15px;
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	color: var(--black-color);
	margin-bottom: 5px;
	transition: all 0.3s ease-in-out;
	border-radius: 3px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
	color: var(--white-color);
	background: var(--blue-color);
}

.portfolio #portfolio-flters li:last-child {
	margin-right: 0;
}

.portfolio .portfolio-wrap {
	transition: 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
	background: var(--black-transparent-bg);
}

.portfolio .portfolio-wrap::before {
	content: "";
	background: rgba(34, 34, 34, 0.6);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all ease-in-out 0.3s;
	z-index: 2;
	opacity: 0;
}

.portfolio .portfolio-wrap img {
	transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-wrap .portfolio-info {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	transition: all ease-in-out 0.3s;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 20px;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
	font-size: 20px;
	color: #ddd;
	font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
	color: #ddd;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-style: italic;
}

.portfolio .portfolio-wrap .view-more {
	display: flex;
	justify-content: center;
	align-items: center;
}

.portfolio .portfolio-wrap .portfolio-links {
	text-align: center;
	z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
	color: #ddd;
	margin: 0 5px 0 0;
	font-size: 28px;
	display: inline-block;
	transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
	color: var(--blue-color);
}

.portfolio .portfolio-wrap:hover::before {
	opacity: 1;
}

.portfolio .portfolio-wrap:hover img {
	transform: scale(1.2);
}

.portfolio .portfolio-wrap:hover .portfolio-info {
	opacity: 1;
}
#portfolio .container .see-more {
	display: flex;
	justify-content: center;
	align-items: center;
}
#portfolio .container .see-more a {
	color: var(--white-color);
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
@media (max-width: 800px) {
	#team .section-title h2 {
		font-size: 20px;
	}
}

.team .member {
	margin-bottom: 20px;
	overflow: hidden;
	text-align: center;
	border-radius: 5px;
	background: var(--white-color);
	box-shadow: 0px 2px 15px var(--black-transparent-bg);
}

.team .member .member-img {
	position: relative;
	overflow: hidden;
	background: transparent;
}

.team .member .social {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	height: 40px;
	opacity: 0;
	transition: ease-in-out 0.3s;
	text-align: center;
	background: var(--white-transparent-bg);
}

.team .member .social a {
	transition: color 0.3s;
	color: var(--black-color);
	margin: 0 10px;
	padding-top: 8px;
	display: inline-block;
}

.team .member .social a:hover {
	color: var(--blue-color);
}

.team .member .social i {
	font-size: 18px;
	margin: 0 2px;
}

.team .member .member-info {
	padding: 25px 15px;
}

.team .member .member-info h4 {
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 18px;
	color: var(--black-color);
}

.team .member .member-info span {
	display: block;
	font-size: 13px;
	font-weight: 400;
	color: #aaaaaa;
}

.team .member .member-info p {
	font-style: italic;
	font-size: 14px;
	line-height: 26px;
	color: var(--black-color);
}

.team .member:hover .social {
	opacity: 1;
}

#team .container .see-more {
	display: flex;
	justify-content: center;
	align-items: center;
}
#team .container .see-more a {
	color: var(--white-color);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .contact-about h3 {
	font-size: 28px;
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 1;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--black-color);
}

.contact .contact-about p {
	font-size: 14px;
	line-height: 24px;
	font-family: "Raleway", sans-serif;
	color: #888;
}

.contact .social-links {
	padding-bottom: 20px;
}

.contact .social-links a {
	font-size: 18px;
	display: inline-block;
	background: var(--white-color);
	color: var(--blue-color);
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
	border: 1px solid var(--blue-color);
}

.contact .social-links a:hover {
	background: var(--blue-color);
	color: var(--white-color);
}

.contact .info {
	color: var(--black-color);
}

.contact .info i {
	font-size: 32px;
	color: var(--blue-color);
	float: left;
	line-height: 1;
}

.contact .info p {
	padding: 0 0 10px 42px;
	line-height: 28px;
	font-size: 14px;
}
.contact .php-email-form .validate {
	display: none;
	color: red;
	margin: 0 0 15px 0;
	font-weight: 400;
	font-size: 13px;
}

.contact .php-email-form .error-message {
	display: none;
	color: var(--white-color);
	background: #ed3c0d;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .sent-message {
	display: none;
	color: var(--white-color);
	background: #18d26e;
	text-align: center;
	padding: 15px;
	font-weight: 600;
}

.contact .php-email-form .loading {
	display: none;
	background: var(--white-color);
	text-align: center;
	padding: 15px;
}

.contact .php-email-form .loading:before {
	content: "";
	display: inline-block;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	margin: 0 10px -6px 0;
	border: 3px solid #18d26e;
	border-top-color: var(--white-color);
	-webkit-animation: animate-loading 1s linear infinite;
	animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
}

.contact .php-email-form button[type="submit"] {
	background: var(--blue-color);
	border: 0;
	padding: 10px 24px;
	color: var(--white-color);
	transition: 0.4s;
	border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
	background: var(--blue-color);
}

@-webkit-keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
	padding: 15px 0;
	background: var(--white-color);
	min-height: 40px;
	margin-top: 80px;
}

.breadcrumbs h2 {
	font-size: 28px;
	font-weight: 400;
}

.breadcrumbs ol {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
}

.breadcrumbs ol li + li {
	padding-left: 10px;
}

.breadcrumbs ol li + li::before {
	display: inline-block;
	padding-right: 10px;
	color: var(--black-color);
	content: "/";
}

@media (max-width: 768px) {
	.breadcrumbs .d-flex {
		display: block !important;
	}
	.breadcrumbs ol {
		display: block;
	}
	.breadcrumbs ol li {
		display: inline-block;
	}
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
	background: var(--white-color);
	box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
	padding: 30px 0;
	color: var(--black-color);
	font-size: 14px;
}

#footer .credits {
	font-size: 13px;
	padding-top: 5px;
	color: var(--black-color);
}

#footer .footer-links a {
	color: var(--black-color);
	padding-left: 15px;
}

#footer .footer-links a:first-child {
	padding-left: 0;
}

#footer .footer-links a:hover {
	color: var(--blue-color);
}
.about-carousel .testimonial-item {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	height: 70vh;
	width: 70%;
}
.about-carousel img,
.retreat-carousel img,
.evang-carousel img,
.converge-carousel img {
	height: auto;
	width: 80vw;
}

.owl-nav,
.owl-dots {
	margin-top: 5px;
	text-align: center;
}

.owl-dot {
	display: inline-block;
	margin: 0 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgb(165, 158, 158) !important;
}

.owl-dot.active {
	background-color: var(--blue-color) !important;
}

@media (max-width: 767px) {
	.about-carousel .testimonial-item {
		height: auto;
		width: auto;
	}
	.about-carousel img {
		height: auto;
		width: auto;
	}
	.about-carousel .testimonial-wrap {
		padding-left: 0;
	}
	.testimonials .testimonial-item {
		padding: 30px;
		margin: 15px;
	}
	.about-carousel .testimonial-item .testimonial-img {
		position: static;
		left: auto;
	}
}
#error h3 {
	margin-top: 10vh;
	margin-bottom: 5vh;
}

@-webkit-keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
	}

	80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}

	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes bounceInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px);
	}

	60% {
		opacity: 1;
		-webkit-transform: translateX(-30px);
		-ms-transform: translateX(-30px);
		transform: translateX(-30px);
	}

	80% {
		-webkit-transform: translateX(10px);
		-ms-transform: translateX(10px);
		transform: translateX(10px);
	}

	100% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.bounceInRight {
	-webkit-animation-name: bounceInRight;
	animation-name: bounceInRight;
}

@-webkit-keyframes bounceOutLeft {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
}

@keyframes bounceOutLeft {
	0% {
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}

	20% {
		opacity: 1;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
}

.bounceOutLeft {
	-webkit-animation-name: bounceOutLeft;
	animation-name: bounceOutLeft;
}

@-webkit-keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotate(-120deg);
		transform: translateX(-100%) rotate(-120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}

@keyframes rollIn {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-100%) rotate(-120deg);
		-ms-transform: translateX(-100%) rotate(-120deg);
		transform: translateX(-100%) rotate(-120deg);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
		-ms-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}
}

.rollIn {
	-webkit-animation-name: rollIn;
	animation-name: rollIn;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes rollOut {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(100%) rotate(120deg);
		transform: translateX(100%) rotate(120deg);
	}
}

@keyframes rollOut {
	0% {
		opacity: 1;
		-webkit-transform: translateX(0px) rotate(0deg);
		-ms-transform: translateX(0px) rotate(0deg);
		transform: translateX(0px) rotate(0deg);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateX(100%) rotate(120deg);
		-ms-transform: translateX(100%) rotate(120deg);
		transform: translateX(100%) rotate(120deg);
	}
}

.rollOut {
	-webkit-animation-name: rollOut;
	animation-name: rollOut;
}

@-webkit-keyframes zoomInDown {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.1) translateY(-2000px);
		transform: scale(0.1) translateY(-2000px);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(0.475) translateY(60px);
		transform: scale(0.475) translateY(60px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

@keyframes zoomInDown {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.1) translateY(-2000px);
		-ms-transform: scale(0.1) translateY(-2000px);
		transform: scale(0.1) translateY(-2000px);
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	60% {
		opacity: 1;
		-webkit-transform: scale(0.475) translateY(60px);
		-ms-transform: scale(0.475) translateY(60px);
		transform: scale(0.475) translateY(60px);
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
}

.zoomInDown {
	-webkit-animation-name: zoomInDown;
	animation-name: zoomInDown;
}

@-webkit-keyframes zoomOutUp {
	40% {
		opacity: 1;
		-webkit-transform: scale(0.475) translateY(60px);
		transform: scale(0.475) translateY(60px);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(0.1) translateY(-2000px);
		transform: scale(0.1) translateY(-2000px);
		-webkit-transform-origin: center top;
		transform-origin: center top;
	}
}

@keyframes zoomOutUp {
	40% {
		opacity: 1;
		-webkit-transform: scale(0.475) translateY(60px);
		-ms-transform: scale(0.475) translateY(60px);
		transform: scale(0.475) translateY(60px);
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(0.1) translateY(-2000px);
		-ms-transform: scale(0.1) translateY(-2000px);
		transform: scale(0.1) translateY(-2000px);
		-webkit-transform-origin: center top;
		-ms-transform-origin: center top;
		transform-origin: center top;
	}
}

.zoomOutUp {
	-webkit-animation-name: zoomOutUp;
	animation-name: zoomOutUp;
}

@-webkit-keyframes flipOutY {
	0% {
		-webkit-transform: perspective(400px) rotateY(0deg);
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}
}

@keyframes flipOutY {
	0% {
		-webkit-transform: perspective(400px) rotateY(0deg);
		-ms-transform: perspective(400px) rotateY(0deg);
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		-ms-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}
}

.flipOutY {
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipOutY;
	animation-name: flipOutY;
}

@-webkit-keyframes flipInY {
	0% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotateY(-10deg);
		transform: perspective(400px) rotateY(-10deg);
	}

	70% {
		-webkit-transform: perspective(400px) rotateY(10deg);
		transform: perspective(400px) rotateY(10deg);
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(0deg);
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
	}
}

@keyframes flipInY {
	0% {
		-webkit-transform: perspective(400px) rotateY(90deg);
		-ms-transform: perspective(400px) rotateY(90deg);
		transform: perspective(400px) rotateY(90deg);
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotateY(-10deg);
		-ms-transform: perspective(400px) rotateY(-10deg);
		transform: perspective(400px) rotateY(-10deg);
	}

	70% {
		-webkit-transform: perspective(400px) rotateY(10deg);
		-ms-transform: perspective(400px) rotateY(10deg);
		transform: perspective(400px) rotateY(10deg);
	}

	100% {
		-webkit-transform: perspective(400px) rotateY(0deg);
		-ms-transform: perspective(400px) rotateY(0deg);
		transform: perspective(400px) rotateY(0deg);
		opacity: 1;
	}
}

.flipInY {
	-webkit-backface-visibility: visible !important;
	-ms-backface-visibility: visible !important;
	backface-visibility: visible !important;
	-webkit-animation-name: flipInY;
	animation-name: flipInY;
}

@-webkit-keyframes tada {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	10%,
	20% {
		-webkit-transform: scale(0.9) rotate(-3deg);
		transform: scale(0.9) rotate(-3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale(1.1) rotate(3deg);
		transform: scale(1.1) rotate(3deg);
	}

	40%,
	60%,
	80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
		transform: scale(1.1) rotate(-3deg);
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
}

@keyframes tada {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	10%,
	20% {
		-webkit-transform: scale(0.9) rotate(-3deg);
		-ms-transform: scale(0.9) rotate(-3deg);
		transform: scale(0.9) rotate(-3deg);
	}

	30%,
	50%,
	70%,
	90% {
		-webkit-transform: scale(1.1) rotate(3deg);
		-ms-transform: scale(1.1) rotate(3deg);
		transform: scale(1.1) rotate(3deg);
	}

	40%,
	60%,
	80% {
		-webkit-transform: scale(1.1) rotate(-3deg);
		-ms-transform: scale(1.1) rotate(-3deg);
		transform: scale(1.1) rotate(-3deg);
	}

	100% {
		-webkit-transform: scale(1) rotate(0);
		-ms-transform: scale(1) rotate(0);
		transform: scale(1) rotate(0);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

@-webkit-keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px);
	}
}

@keyframes fadeOutDownBig {
	0% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px);
	}
}

.fadeOutDownBig {
	-webkit-animation-name: fadeOutDownBig;
	animation-name: fadeOutDownBig;
}

@-webkit-keyframes swing {
	20% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	40% {
		-webkit-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}

	60% {
		-webkit-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	80% {
		-webkit-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}

	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

@keyframes swing {
	20% {
		-webkit-transform: rotate(15deg);
		-ms-transform: rotate(15deg);
		transform: rotate(15deg);
	}

	40% {
		-webkit-transform: rotate(-10deg);
		-ms-transform: rotate(-10deg);
		transform: rotate(-10deg);
	}

	60% {
		-webkit-transform: rotate(5deg);
		-ms-transform: rotate(5deg);
		transform: rotate(5deg);
	}

	80% {
		-webkit-transform: rotate(-5deg);
		-ms-transform: rotate(-5deg);
		transform: rotate(-5deg);
	}

	100% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
}

.swing {
	-webkit-transform-origin: top center;
	-ms-transform-origin: top center;
	transform-origin: top center;
	-webkit-animation-name: swing;
	animation-name: swing;
}
