* {
	overflow-x: hidden;
	font-family: "Airbnb Cereal App", sans-serif;
}

.nav-bar {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 20px 0;
}

.hamburger-menu {
	position: absolute;
	left: 10px;
	top: 20px;
	width: 24px;
	height: 22px;
	margin: 10px 5px;
	transition: 0.5s ease-in-out;
	cursor: pointer;
	z-index: 99;

	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #fff;
		border-radius: 10px;
		opacity: 1;
		left: 0;
		transition: 0.25s ease-in-out;
	}

	span:nth-child(1) {
		top: 2px;
	}

	span:nth-child(2),
	span:nth-child(3) {
		top: 10px;
	}

	span:nth-child(4) {
		top: 18px;
	}

	&.open span:nth-child(1) {
		top: 18px;
		width: 0;
		left: 50%;
	}

	&.open span:nth-child(2) {
		transform: rotate(45deg);
	}

	&.open span:nth-child(3) {
		transform: rotate(-45deg);
	}

	&.open span:nth-child(4) {
		top: 18px;
		width: 0;
		left: 50%;
	}
}
.site-navigation ul {
	position: fixed;
	top: 20px;
	left: -320px;
	z-index: 9;
	width: 300px;
	height: max-content;
	padding: 30px 15px;
	background: linear-gradient(
		to right,
		rgba(1, 104, 209, 0.5),
		rgba(128, 0, 32, 0.3)
	);
	list-style: none;
	border-radius: 30px;
	transition: all 0.35s;
}

.site-navigation.show ul {
	left: 0;
}

.site-navigation ul li {
	margin: 0 15px;
}

.site-navigation ul li a {
	display: block;
	padding: 16px 0;
	font-size: 14px;
	font-family: "Airbnb Cereal App", sans-serif;
	color: #fff;
	text-decoration: none;
	transition: color 0.35s;
}

.header {
	.nav-logo {
		position: absolute;
		width: 100%;
		left: 0;
		top: 10px;
		z-index: 2;
		.container {
			justify-content: center;
		}
		img {
			width: 120px;
			height: 120px;
		}
	}
	li {
		a {
			color: #fff;
			&.active {
				text-decoration: underline;
			}
			&:hover {
				text-decoration: none;
				color: rgba(1, 104, 209, 1);
			}
		}
	}
}
@media screen and (min-width: 768px) {
	.header .nav-logo .container {
		justify-content: flex-start;
	}
	.site-navigation ul {
		position: absolute;
		top: 15px;
		left: 0;
		width: 100%;
		max-width: 100%;
		margin: 20px 5px;
		padding: 0;
		background: transparent;
	}

	.site-navigation ul li a {
		width: 100%;
		padding: 20px 0;
		color: #fff;
	}
}

.site-navigation ul li a:hover {
	color: #ce8c88;
}

.home {
	position: absolute;
	height: 100vh;
	width: 100vw;
	left: 0;
	color: #fff;
	background: linear-gradient(
			to right,
			rgba(128, 0, 32, 0.7),
			rgba(128, 0, 32, 0.6)
		),
		url("https://res.cloudinary.com/lawfirm1000/image/upload/v1605124830/titilailai/10_mo3fcr.png")
			center / cover no-repeat;
	h3 {
		font-family: "Airbnb Cereal App", sans-serif;
		font-size: 16px;
		line-height: 20.83px;
		letter-spacing: 5px;
		margin: 30px 0;
	}
	h1 {
		font-family: "Dancing Script", sans-serif;
		font-size: 80px;
		margin: 20px 0;
	}

	.home-logo {
		position: absolute;
		bottom: 3rem;
	}
}
.pagerest {
	top: 100vh;
	position: absolute;
	left: 0;
	width: 100%;

	.flower-1 {
		position: absolute;
		left: 0;
		top: 0;
		width: 17rem;
	}

	.story-cont {
		margin-top: 7rem;
	}
	.text-cont {
		width: 70%;
	}

	h3 {
		color: rgba(128, 0, 32, 1);
		font-family: "Dancing Script", sans-serif;
		margin: 20px 0;
		font-size: 30px;
	}
	.love-text {
		font-size: 10px;
	}
}
.church {
	.flower-2 {
		position: absolute;
		right: 0;
		width: 17rem;
	}
}

.gifts {
	color: #fff;
	background: rgba(128, 0, 32, 1);

	h3 {
		color: #fff;
	}

	.flower {
		width: 100%;
	}
	.underline {
		width: 40vw;
		margin: 10px;
		border-top: 2px solid rgba(176, 68, 95, 1);
	}
}

.gallery,
.thanks {
	margin: 5rem auto;
}

.about {
	height: 32vh;
	color: #fff;
	background: linear-gradient(
			to right,
			rgba(1, 104, 209, 0.6),
			rgba(1, 104, 209, 0.7)
		),
		url("https://res.cloudinary.com/lawfirm1000/image/upload/v1605124829/titilailai/11_rs8abs.png")
			center / cover no-repeat;

	h2 {
		font-family: "Airbnb Cereal App", sans-serif;
		font-size: 16px;
		margin-top: 15vh;
	}

	h1 {
		font-family: "Dancing Script", sans-serif;
		font-size: 80px;
		margin-top: -1rem;
	}
}
.tinu {
	.flower-1 {
		position: absolute;
		width: 17rem;
		opacity: 0.5;
		top: 30vh;
	}
	p {
		font-family: "Airbnb Cereal App", sans-serif;
		font-size: 14px;
	}
	h3 {
		color: rgba(128, 0, 32, 1);
		font-family: "Dancing Script", sans-serif;
		margin: 20px 0;
		font-size: 30px;
	}
	.love-text {
		font-size: 10px;
	}

	p + p {
		color: rgba(128, 0, 32, 1);
	}
	h3 ~ p,
	p ~ p {
		&::before {
			content: "|";
			color: rgba(128, 0, 32, 1);
			margin-right: 20px;
		}
	}
}
.timi {
	.flower-2 {
		position: absolute;
		width: 17rem;
		right: 0;
	}
	p {
		font-family: "Airbnb Cereal App", sans-serif;
		font-size: 14px;
	}
	h3 {
		color: rgba(1, 104, 209, 1);
		font-family: "Dancing Script", sans-serif;
		margin: 20px 0;
		font-size: 30px;
	}
	.love-text {
		color: rgba(128, 0, 32, 1);
		font-size: 10px;
	}
	h3 ~ p,
	p ~ p {
		&::before {
			content: "|";
			color: rgba(1, 104, 209, 1);
			margin-right: 20px;
		}
	}
}

@media screen and (max-width: 768px) {
	.home,
	.about {
		h1 {
			font-size: 45px;
		}
	}
}
.back-to-top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	display: none;
	z-index: 9;
	height: 50px;
	width: 50px;
}

.back-to-top i {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	background: rgba(1, 104, 209, 1);
	color: #fff;
	transition: all 0.4s;
}

.back-to-top i:hover {
	background: rgba(1, 104, 209, 1);
	color: #fff;
}
