@font-face {
  font-family: "MuseoW01-700";
  src: url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.eot");
  src: url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.woff") format("woff"), url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/5cfbe76f00e7c4d6ba5d963f6c179606.svg#MuseoW01-700") format("svg");
}

* {
  overflow-x: hidden;
  font-family: MuseoW01-700;
}

*::-webkit-scrollbar {
  display: none;
}

.nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 20px 0;
}

.hamburger-menu {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 24px;
  height: 22px;
  margin: 10px 5px;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}

.hamburger-menu span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #19559e;
  border-radius: 10px;
  opacity: 1;
  left: 0;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.hamburger-menu span:nth-child(1) {
  top: 2px;
}

.hamburger-menu span:nth-child(2),
.hamburger-menu span:nth-child(3) {
  top: 10px;
}

.hamburger-menu span:nth-child(4) {
  top: 18px;
}

.hamburger-menu.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.hamburger-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamburger-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hamburger-menu.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.site-navigation ul {
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 9;
  width: 320px;
  max-width: calc(100% - 120px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 30px 15px;
  margin: 0;
  background: rgba(255, 255, 255, 0.6);
  list-style: none;
  overflow-x: scroll;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.site-navigation.show ul {
  left: 0;
}

.site-navigation ul li {
  margin: 0 15px;
}

.site-navigation ul li a {
  display: block;
  padding: 16px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #19559e;
  text-decoration: none;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
}

.header li a {
  color: #19559e;
}

.header li a.active {
  color: #8c2110;
}

.header li a.active:hover {
  color: #8c2110;
}

.header li a:hover {
  text-decoration: none;
  color: #b86e69;
}

@media screen and (min-width: 768px) {
  .site-navigation ul {
    position: absolute;
    top: auto;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 5px;
    padding: 0;
    background: transparent;
  }
  .home .site-navigation ul li a,
  .church .site-navigation ul li a,
  .reception .site-navigation ul li a {
    color: #fff !important;
    font-weight: 700;
  }
  .home .site-navigation ul li a.active,
  .church .site-navigation ul li a.active,
  .reception .site-navigation ul li a.active {
    color: #8c2110 !important;
  }
  .home .site-navigation ul li a:hover,
  .church .site-navigation ul li a:hover,
  .reception .site-navigation ul li a:hover {
    color: #b86e69 !important;
  }
  .site-navigation ul li a {
    width: 100%;
    padding: 20px 0;
    color: #19559e;
  }
}

.site-navigation ul li a:hover {
  color: #b86e69;
}

.home .hamburger-menu span,
.church .hamburger-menu span,
.reception .hamburger-menu span {
  background: #fff;
}

.home .cont,
.church .cont,
.reception .cont {
  height: 85vh;
  background: url("images/home.webp") center/cover no-repeat;
}

.home .hero,
.church .hero,
.reception .hero {
  margin-top: 70px;
}

.home .hero h1,
.church .hero h1,
.reception .hero h1 {
  text-shadow: 0 0 5px #fff;
  color: #8c2110;
  font-size: 80px;
  margin-left: 20px;
}

.home .hero h1 span,
.church .hero h1 span,
.reception .hero h1 span {
  color: #19559e;
}

.home .hero h3,
.church .hero h3,
.reception .hero h3 {
  color: #8c2110;
  background: transparent;
  margin-left: 35px;
  z-index: 9;
}

.home .hero svg,
.church .hero svg,
.reception .hero svg {
  margin-top: -45px;
  margin-left: 25px;
  width: 32ch;
  stroke-width: 0;
  fill-opacity: 0.7;
  stroke: #4b87cf;
  stroke-opacity: 0.7;
  fill: #4b87cf;
}

@media screen and (max-width: 560px) {
  .home .hero h1 {
    font-size: 52px;
  }
}

.footer {
  -webkit-box-shadow: 0 0 5px 0 #000;
          box-shadow: 0 0 5px 0 #000;
}

.footer p {
  margin-top: 20px;
}

.footer p svg {
  width: 30px;
  height: 30px;
  margin: -5px 10px 0 10px;
}

/*****************
	STORY
******************/
.story h1 {
  text-shadow: 0 0 5px #fff;
  margin-top: 40px;
  font-family: Lobster;
  font-weight: bolder;
  font-size: 180px;
  color: #8c2110;
  overflow: hidden;
}

.story h1 span {
  font-family: Lobster;
  font-weight: lighter;
  color: #19559e;
  font-size: 80px;
}

.story h1.title-story {
  margin-top: -165px;
  margin-left: 130px;
}

.story .tinu p,
.story .timi p {
  font-family: "Josefin Slab";
  font-weight: 400;
  font-size: 16px;
  color: #8c2110;
}

.story .tinu h3,
.story .timi h3 {
  text-align: end;
  color: #19559e;
}

.story .timi p {
  color: #01244e;
}

.story .timi h3 {
  color: #8c2110;
}

.story .carousel {
  margin: 20px 0;
}

.story .carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.story .carousel-fade .carousel-inner .item,
.story .carousel-fade .carousel-inner .active.left,
.story .carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.story .carousel-fade .carousel-inner .active,
.story .carousel-fade .carousel-inner a .next.left,
.story .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.story .carousel-fade .carousel-inner .next,
.story .carousel-fade .carousel-inner .prev,
.story .carousel-fade .carousel-inner .active.left,
.story .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.story .carousel-fade .carousel-inner img {
  border-radius: 50%;
  width: 100px;
  height: 350px;
}

@media screen and (max-width: 768px) {
  .story h1 {
    font-size: 100px;
  }
  .story h1 span {
    font-size: 45px;
  }
  .story h1.title-story {
    margin-top: -95px;
    margin-left: 85px;
  }
}

.church .cont {
  height: 95vh;
  background: url("images/8.webp") top/cover no-repeat;
}

.church .hero h1 {
  font-family: "Montserrat";
  color: #8c2110;
  font-size: 80px;
  margin-left: 20px;
  text-shadow: 0 0 5px #fff;
}

.church .hero h1 span {
  font-family: "Montserrat";
  color: #fff;
}

.church .church-details {
  background: #19559e86;
  color: #fff;
  border-radius: 50px;
  width: 450px;
  -webkit-box-shadow: 0 0 15px 0 #000;
          box-shadow: 0 0 15px 0 #000;
  padding: 30px 10px;
  margin-top: 50px;
}

.church .church-details h3 {
  color: #fff;
  font-family: "Montserrat";
}

.church .church-details h3 span,
.church .church-details h3 strong {
  color: #8c2110;
  text-shadow: 0 0 15px #fff;
}

.church .church-details h3 .city {
  color: #8c2110;
}

@media screen and (max-width: 768px) {
  .church .hero h1 {
    font-size: 50px;
  }
  .church .church-details {
    width: 350px;
  }
}

/*****************
	RECEPTION
******************/
.reception .cont {
  background: url("images/home.webp") center/cover no-repeat;
}

.reception .hero h1 {
  font-family: Lobster;
  color: #fff;
  font-size: 80px;
  margin-left: 20px;
}

.reception .hero h1 span {
  font-family: Lobster;
  color: #8c2110;
}

.reception .hero .reception-details h3 {
  font-family: Lobster;
  color: #8c2110;
}

.reception .hero .reception-details h3 strong {
  font-family: Lobster;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .reception .cont {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 20px;
  }
}

.gifts .gift-details {
  width: 70%;
  margin: 60px auto;
}

.gifts .gift-details h1 {
  color: #8c2110;
  font-size: 80px;
  font-family: Lobster;
}

.gifts .gift-details p,
.gifts .gift-details a {
  font-family: Lobster;
  color: #002e5d;
  margin: 20px 0;
  font-size: 30px;
  font-family: "Cookie";
}

.gifts .gift-details a {
  text-decoration: underline;
  color: #8c2110;
}

.gifts svg {
  width: 100px;
  stroke-width: 0;
  fill-opacity: 1;
  stroke: #fdca22;
  stroke-opacity: 1;
  fill: #fdca22;
}

/************
	PHOTOS
************/
.gallery {
  height: 80vh;
  margin-top: 40px;
  /* MD */
  /* LG */
}

.gallery .carousel {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.gallery .carousel-item img {
  height: 100%;
  border-radius: 50%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .gallery {
    /* Show 4th slide on md if col-md-4*/
  }
  .gallery .carousel-inner
.active.col-md-4.carousel-item
+ .carousel-item
+ .carousel-item
+ .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .gallery {
    /* Show 3rd slide on sm if col-sm-6*/
  }
  .gallery .carousel-inner
.active.col-sm-6.carousel-item
+ .carousel-item
+ .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 576px) {
  .gallery {
    /* show 2 items */
    /* left or forward direction */
    /* farthest right hidden item must be also positioned for animations */
    /* right or prev direction */
  }
  .gallery .carousel-item {
    margin-right: 0;
  }
  .gallery .carousel-inner .active + .carousel-item {
    display: block;
  }
  .gallery .carousel-inner
.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .gallery .carousel-inner
.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
+ .carousel-item {
    -webkit-transition: none;
    transition: none;
  }
  .gallery .carousel-inner .carousel-item-next {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .gallery .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .gallery .carousel-item-next.carousel-item-left + .carousel-item,
  .gallery .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .gallery .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  .gallery .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .gallery .carousel-item-prev.carousel-item-right + .carousel-item,
  .gallery .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 768px) {
  .gallery {
    /* show 3rd of 3 item slide */
    /* left or forward direction */
    /* right or prev direction */
  }
  .gallery .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .gallery .carousel-inner
.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
+ .carousel-item
+ .carousel-item {
    -webkit-transition: none;
    transition: none;
  }
  .gallery .carousel-inner .carousel-item-next {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .gallery .carousel-item-next.carousel-item-left
+ .carousel-item
+ .carousel-item
+ .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .gallery .carousel-item-prev.carousel-item-right
+ .carousel-item
+ .carousel-item
+ .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

@media (min-width: 991px) {
  .gallery {
    /* show 4th item */
    /* Show 5th slide on lg if col-lg-3 */
    /* left or forward direction */
    /* right or prev direction //t - previous slide direction last item animation fix */
  }
  .gallery .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }
  .gallery .carousel-inner
.carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
+ .carousel-item
+ .carousel-item
+ .carousel-item {
    -webkit-transition: none;
    transition: none;
  }
  .gallery .carousel-inner
.active.col-lg-3.carousel-item
+ .carousel-item
+ .carousel-item
+ .carousel-item
+ .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    /*change this with javascript in the future*/
    z-index: -1;
    display: block;
    visibility: visible;
  }
  .gallery .carousel-item-next.carousel-item-left
+ .carousel-item
+ .carousel-item
+ .carousel-item
+ .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  .gallery .carousel-item-prev.carousel-item-right
+ .carousel-item
+ .carousel-item
+ .carousel-item
+ .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
/*# sourceMappingURL=App.css.map */